<!-- Modal -->
<div id="modalAbout" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalAboutLabel">About us</h3>
  </div>
  <div class="modal-body">
    <p>
      Created by Digital Humanities and Journalism working group at DERI in NUI Galway.
    </p>
    <p>
      Map is for...
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>
